<!DOCTYPE html>
    
<html lang="en">
    <head>
        <title></title>
    </head>
    <header>
        <nav>
            <ul>
                <li><a href="{% url "signup" %}">Sign Up</a></li> 
                <li><a href="{% url "login" %}">Login</a></li>
                <li>{% if user.is_authenticated %}
                <a href="{% url "logout" %}">Logout</a>
                {% endif %}
                </li>
            </ul>   
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url "home" %}">Home</a></li>
                    <li><a href="{% url "list_categories" %}">Expense Category List</a></li>
                    <li><a href="{% url "accounts_list" %}">Accounts List</a></li>
                    <li><a href="{% url "create_receipt" %}">Create Receipt</a></li>
                    <li><a href="{% url "create_category" %}">Create Category</a></li>
                    <li><a href="{% url "create_account" %}">Create Account</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
{% block content %}
{% endblock %}

</html>