{% extends 'base.html' %}


{% block content %}
<body>
    <main>
        <h1>Expense Categories</h1>
        <div>
            <div><a href="{% url "create_category" %}">Create</a>
            </div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                 
                </tr>
            </thead>
            <tbody>
                {% for category in expense_category_list %}
                    <tr>
                        <td>{{category.name}}</td>
                        <td>{{category.receipts.all|length}}</td>
                    </tr>
                {% endfor %}
            </tbody> 
        </table>
{% endblock %}